<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Plant Desease</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="https://png.pngtree.com/png-vector/20200121/ourmid/pngtree-green-leaf-logo-vector-template-png-image_2132738.jpg">
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đăng nhập</h5>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" style="background-color: #0C5C36; color: white;" class="btn">Đăng bài</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModals" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đăng ký</h5>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <div class="modal-body">
                    <form method="POST" action="/register">
                        <div class="form-group">
                            <label for="name">Tên đăng nhập:</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Mật khẩu:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Đăng ký</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section style="background-color: #a2e4a4;" class="text-center">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
                <a class="navbar-brand" href="#">PLANT<span style="color: white;">DESEASE</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-4"
                    aria-controls="navbar-4" aria-expanded="false" aria-label="Toggle navigation"><i
                        class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbar-4">
                    <ul class="navbar-nav mr-auto">

                    </ul>
                    <span class="navbar-text">
                        <ul class="navbar-nav mr-auto" style="font-weight: bold;">
                            {% if not username %}
                            {% else %}
                            <li>

                                <div class="navbar-brand " href="{{ url_for('home_view') }}"
                                    style="display: flex; align-items: center; padding-bottom: 20px;">
                                    <img width="30" style="height: auto; border-radius: 50%; padding-bottom: 10px;" src="{{ imgsrc }}"
                                        alt="alternative">
                                    <h6 style="color: #007bff; font-weight: bold;">Xin chào: {{username}}</h6>
                                </div>
                            </li>

                            {% endif %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ url_for('home_view') }}">Trang chủ <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ url_for('predicts') }}">Dự đoán</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ url_for('forum') }}">Diễn đàn</a>
                            </li>
                            {% if not username %}
                            <li class="nav-item active">
                                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModals">Đăng ký</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Đăng nhập</a>
                            </li>
                            {% endif %}
                            {% if not username %}
                            {% else %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ url_for('logout')}}">Đăng xuất</a>
                            </li>
                            {% endif %}

                        </ul>
                        <div class="clear"></div>
                    </span>
                </div>
            </nav>
    </section>
    <section style="background-color: #a2e4a4;" class="pricing-table text-center">
        <a name="pricing"></a>
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-4">
                    <div class="col-pricing-table mb-5">
                        <div class="col-pricing-table mb-5">
                            <div class="image-container">
                                <img style="border: 5px solid white;" src="https://cdn.pixabay.com/photo/2021/10/15/09/27/film-camera-6711512_960_720.jpg" class="card-img-top" alt="...">
                                <div class="text-container">
                                    <p class="contain__box__title">
                                        CHẨN ĐOÁN BỆNH BẰNG HÌNH ẢNH
                                    </p>
                                </div>
                                <a href="{{ url_for('plant_predict')}}" class="btn btn-lg btn-outline-primary">Thực hiện</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-pricing-table mb-5">
                        <div class="image-container">
                            <img style="border: 5px solid white;" src="https://media.istockphoto.com/photos/plant-tree-in-neutral-background-closeup-of-fresh-green-plant-picture-id1018703724?b=1&k=20&m=1018703724&s=170667a&w=0&h=scYjNguAtH_B99L9fpJUOlasc-7AA_TrPB7-Fk2P6A0=" class="card-img-top" alt="...">
                            <div class="text-container">
                                <p class="contain__box__title">
                                    GỢI Ý CÂY TRỒNG DỰA VÀO ĐẤT
                                </p>
                            </div>
                            <a href="{{ url_for('plant_recom')}}" class="btn btn-lg btn-outline-primary">Thực hiện</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="col-pricing-table mb-5">
                        <div class="image-container">
                            <img style="border: 5px solid white;" src="https://wallpapercave.com/wp/wp1950241.jpg" class="card-img-top" alt="...">
                            <div class="text-container">
                                <p class="contain__box__title">
                                    GỢI Ý PHÂN BÓN DỰA VÀO ĐẤT
                                </p>
                            </div>
                            <a href="{{ url_for('fertilizer')}}" class="btn btn-lg btn-outline-primary">Thực hiện</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <footer style="background-color: #a2e4a4;" class="footer">
        <div class="container">
            <div class="row mb-5 text-center text-md-left">
                <div class="col-md-3 col-lg-4 mb-3">
                    <a class="navbar-brand" href="#">Plant<span style="color: white;">Desease</span></a>
                </div>
                <div class="col-md-3 offset-lg-2 col-lg-2 pt-2">
                    <h5>Category 1</h5>
                    <ul class="nav-footer">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tour">Tour</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pricing">Pricing</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-lg-2 pt-2">
                    <h5>Category 2</h5>
                    <ul class="nav-footer">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tour">Tour</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pricing">Pricing</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-lg-2 pt-2">
                    <h5>Category 3</h5>
                    <ul class="nav-footer">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tour">Tour</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pricing">Pricing</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="container-fluid">
            <div class="divider"></div>
        </div> -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-left mt-2 mb-3 pt-1">
                    <p class="copyright" style="color: #203856;">Copyright &copy; YourStartup. All rights reserved.</p>
                </div>
                <div class="col-md-6 text-center text-md-right mb-4">
                    <ul class="social">
                        <li><a href="#" title="Facebook"><em class="fab fa-facebook-f"></em></a></li>
                        <li><a href="#" title="Twitter"><em class="fab fa-twitter"></em></a></li>
                        <li><a href="#" title="Google+"><em class="fab fa-google-plus-g"></em></a></li>
                        <li><a href="#" title="Dribbble"><em class="fab fa-dribbble"></em></a></li>
                        <li><a href="#" title="Instagram"><em class="fab fa-instagram"></em></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

</body>

</html>